body {
    /* Body/Default */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    
    color: #262626;
    
    margin: 50px;
    padding: 0 50px;
}

header {
    height: 150px;
    width: 100%;

    color: #ffffff; 
    background-color: #037BB6;
    
    font-weight: bolder;
    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 2px 2px;
}