<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>External Launch</title>
  </head>
  <body>
    <link rel="stylesheet" href="/static/style.css" />
    <header>
      <h1>Launch External</h1>
    </header>
    <hr />
    <p>Welcome to LaunchExternal - Default Launch</p>
    {% autoescape false %} Launching to
    <a href="{{launch_url}}">{{launch_url}}</a> in a new window. Close it and
    this panel when you are through or click the link if the page was not
    automatically launched {% endautoescape %}
    <script>
      {% autoescape false %}
      window.open("{{ launch_url }}");
      {% endautoescape %}
    </script>
  </body>
</html>
