<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LaunchExternal Default</title>
</head>
<body>
  <link rel="stylesheet" href="/static/style.css">
    <header>
      <h1>
        Launch External Default
      </h1>
    </header>
    <hr />
    <p>
      Welcome to LaunchExternal - Default Launch
    </p>
    Launching to https://www.blackboard.com in a new window. Close it and this panel when you are through.
    <script>window.open('https://www.blackboard.com') </script>

</body>
</html>